aiohttp
beautifulsoup4
hachoir
numpy
Pillow
Pyrogram
moviepy
requests
psutil
tgcrypto
#youtube-dl
yt-dlp
olefile
filetype
tldextract
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython
